
	<nav class="navbar">
        <ul class="links">
            <li>
                <a (click)="navigateToHome()">Home</a>
              </li>
              <li>
                <a (click)="navigateToContatos()">Contatos</a>
              </li>
        </ul>
        <ul class="login">
            <li>
               <button (click)="openFormModal()">Login</button>
            </li>
            <li>
                <button (click)="openFormModal()">Registre-se</button>
            </li>
        </ul>
    </nav>
